= javascript_include_tag '//js.braintreegateway.com/v1/braintree.js'
:coffeescript
  @braintree = Braintree.create('MIIBCgKCAQEAxNyqBiEAjUEdx7H6saD426MdR6W/7f4xCkPC6drTpN5B5k+uRLxHQs2nnNQxTmQAJPUK5CkJ78rrGsk8aoq+uBfZIqyb+jEk8ut7x/bLwd76To9wKUrXSjZeCKrFaX7JoItwgWvX06Tmnxn+xFei1487jKTw2A3JMPmd8BSRx2iXMwfSXyo4VfWSA4WyD9KGRcSq/OOOcosk03KmSpgAQDUtn0KwA+xaOvz9uaNVkJOV6ucIBDKY73wn4NnwJBP7j/byE2RWuWL8CDHucyD8rV9zEC5SGKJi1MyD6gDiGY0gWgqtlNgIGyXRK6fuL+q632J/u1xa7ANQnjI/1WYmOwIDAQAB')
