%footer.main{role: :contentinfo}
  -#.row
    -#.small-12.large-4.columns
      -#.row
        -#.small-6.columns
          -#%h3 Site Map
          -#%ul
            -#%li
              -#%a{href: root_url} Home
            -#%li
              -#%a{href: about_url} About 
            -#%li
              -#%a{href: privacy_policy_url} Privacy Policy
            -#%li
              -#%a{href: terms_of_service_url} Terms of Service
        -#.small-6.columns
          -#%h3 Contact
          -#%p
            -#Reach out to the Vettio team by emailing us at
            -#<a href='mailto:support@vettio.com'>support@vettio.com</a>.

    -#.small-12.large-4.columns
