-# /[if (lt IE 9) & (!IEMobile)]
 %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
 %script{src '/js/libs/selectivizr.min.js'}
 %link{rel: 'stylesheet', href: '/css/oldie.css'}
 %link{rel 'stylesheet', href: '/css/ie8.css'}
 
-# [if (lt IE 8) & (!IEMobile)]
 %link{rel: 'stylesheet', href: '/css/ie7.css'}

-# [if IE 6 & (!IEMobile)]
 %link{rel: 'stylesheet', href: '/css/ie6.css'}
