-# we <3 mobile
%meta{name: :viewport, content: 'width=device-width,initial-scale=1,maximum-scale=1,target-densitydpi=device-dpi'}

- # This is really old stuff for Windows.
%meta{name: :HandheldFriendly, content: :true}
%meta{name: :MobileOptimized, content: 480}
