.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: root_url} Vettio
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.has-form
          %form
            %span
              %input#search_field{type: :text, placeholder: 'Search for events and campuses...'}
            %span
              %input#search_link{href: '#', type: :submit, value: 'Search'}
      %ul.right
        %li
          %a.sign_in{href: '#'} Sign In
        %li
          %a.sign_up{href: '#'} Sign Up 
        %li
          %a.sign_out{href: '#'} Sign Out
        %li.divider

