.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: root_url} Vettio
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li
          = link_to new_event_path do
            %i.fa.fa-plus-square
            Create Event
        - if user_signed_in?
          %li
            = link_to events_path(scope: :my) do
              %i.fa.fa-glass
              My Events
        %li.has-search.hide-for-small
          %form#omnisearch.custom{method: :get, action: search_url}
            .row.collapse
              .small-10.columns
                %input{type: :text, placeholder: 'Events, places, people; search it all!', name: :query}
              .small-2.columns
                %button{type: :submit, class: 'button postfix'}
                  %i.fa.fa-search
                  Search
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-arrow-circle-right
              Sign Out
        %li.divider
