.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: root_url}
            %img{src: asset_url('logo/slogan.png')}
    %section.top-bar-section
      %ul.left
        %li#nav_link_create_event
          = link_to new_event_path do
            %i.fa.fa-fw.fa-fw.fa-plus-square
            Create Event
        - if user_signed_in?
          %li
            = link_to events_path(scope: :my) do
              %i.fa.fa-fw.fa-glass
              My Events
        %li#omnisearch.has-form
          %form{method: :get, action: search_url}
            .row.collapse
              .small-9.large-10.columns
                %input{type: :text, placeholder: 'Events, places, people; search it all!', name: :query}
              .small-3.large-2.columns
                %button.button.expand{type: :submit}
                  %i.fa.fa-fw.fa-search.fa-fw
                  Search
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-fw.fa-fw.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-fw.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-fw.fa-arrow-circle-right
              Sign Out
        %li.divider
