.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: root_url} Vettio
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li
          = link_to 'Create Event', new_event_path
        %li
          = link_to 'My Events', event_stream_path
        - if true
          %li
            = link_to 'My Tickets', my_tickets_path
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-arrow-circle-right
              Sign Out
        %li.divider
