$body-bg: #f6f8f8;

$topbar-bg-color: #555;
$topbar-bg: linear-gradient($topbar-bg-color, darken($topbar-bg-color, 5%));
$topbar-link-color: #fff;
$topbar-link-color-hover: $topbar-link-color;
$topbar-link-color-active: $topbar-link-color;
$topbar-link-bg-hover: linear-gradient(darken($topbar-bg-color, 5%), darken($topbar-bg-color, 15%));
$topbar-dropdown-bg: $topbar-bg;
$topbar-dropdown-link-color: $topbar-link-color;

$primary-color: #007eff;
$secondary-color: #b39980;
$warning-color: #f38630;
$alert-color: #cc333f;
/*$success-color: ;*/
/*$info-color: ;*/
