$topbar-bg-color: #333;
$topbar-bg: $topbar-bg-color;
$topbar-height: em-calc(33);
$topbar-margin-bottom: 2px;

// Colors for our platform.
$primary-color: #56439b;
$secondary-color: #b39980;
$warning-color: #f38630;
$alert-color: #cc333f;
/*$success-color: ;*/
/*$info-color: ;*/
