@import "font-awesome";

$apple-fonts: 'Helvetica Neue', 'Helvetica', 'Lucida Grande';
$microsoft-fonts: 'Segoe UI', 'Trebuchet MS', 'Arial';

$body-font-weight: 300;
$basic-body-font-family: $apple-fonts, $microsoft-fonts, sans-serif;
$body-font-family: 'Open Sans';

$header-font-weight: 400;
$basic-header-font-family: $apple-fonts, $microsoft-fonts, serif;
$header-font-family: 'Open Sans';

$include-open-sans: false;

/** Some helpers **/
.center-text { @extend .text-center; }
.right-text  { @extend .text-right; }
.left-text   { @extend .text-left; }
