@import 'foundation/components/buttons';

@mixin sign-in-button($bg) {
  @include button($padding: emCalc(18), $bg: $bg, $radius: false, $full-width: true, $disabled: false, $is-input: false);
  @include inset-shadow(true);
  @include single-transition;
  max-width: 350px;
  width: 100%;
  clear: both;
  margin: 0.25em auto;
  display: inline-block;

  @media #{$medium} { & { 
      max-width: 350px;
      margin-top: 0em;
      margin-bottom: 0em;
  } }

  > i.icon {
    @extend .fa;
    @extend .fa-fw;
    font-size: 150%;
  }
}

@mixin devise_forms {
  form.custom {
    margin: 0em 10%;
    width: 80%;

    > fieldset {
      border: none;
      padding: 0em;
      margin: 2em 1em;
    }
  }

  p.links {
    display: none;
    text-align: left;
    media #{small} { & { text-align: center; } }

    > a {
      &:after { content: ''; padding: 0.5em;  }
      &:last-child:after { content: ''; }
    }
  }
}

body.users_sessions,
body.users_registrations {
  @include devise_forms;

  .large-6.small-12.columns { height: 100%; }

  #page_container {
    display: table;
    .page {
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      &.buttons {
        @media #{$large-up} { & { padding-top: 2rem; } }
        > a {
          &.facebook    { 
            @include sign-in-button($bg: #3B5998);
            > i.icon { @extend .fa-facebook-square; }
          }
          &.linkedin    {
            @include sign-in-button($bg: #1a85bc);
            > i.icon { @extend .fa-linkedin-square; }
          }
          &.gplus       {
            @include sign-in-button($bg: #dd4b39);
            > i.icon { @extend .fa-google-plus-square; }
          }
        }
      }
    }
  }
}
