-# TODO: Add link to user's profile.
%figure.user-square{data: {expanded: is_mobile_request? ? :expanded : :collapsed}}
  %img{src: 'http://placehold.it/512x512'}
  %figcaption
    .clearfix
      %h3.left John D.
      %a.medium.button.round.right.secondary{href: '#'}
        %i.fa.fa-fw.fa-arrow-circle-right.fa-lg
    %span Professional escape artist by day, Batman by night.
