-# TODO: Add link to user's profile.
%figure.user-square{data: {expanded: :collapsed}}
  %img{src: 'http://placesheen.com/512/512'}
  %figcaption
    .clearfix
      %h3.left Charlie S.
      %a.medium.button.round.right.secondary{href: '#'}
        %i.fa.fa-fw.fa-arrow-circle-right.fa-lg
    %span Expert swooner, professional grammer;
