%section#search{role: :page}
  .row.collapse
    .large-10.large-centered.columns
      %h1.title Vettio
  .row.collapse
    .large-10.columns
      %input#search_field{type: :text, placeholder: 'turn the fuck up'}
    .large-2.columns
      %input.button.large#search_button{type: :submit, value: "Search Boi"}
%section#snapchat{role: :page}
  .row.collapse
    .large-10.large-centered.columns
      %h1.title Events Made for College Students
  .row.collapse
    .large-4.columns
      %hr.left.stick
    .large-4.columns
      %h2.title Popular Events
    .large-4.columns
      %hr.right.stick
