- page_title 'Events for College'
- disable_navigation
- disable_footer
- disable_header
%header{role: :page}
  .row
    .small-12.large-10.large-centered.columns
      %h1.title Vettio 
      %h2 Events Made for Humans 
= render 'components/navigation'
%section#howto{role: :page}
  .row
    .large-12.small-12.columns
      %h2.center-text Getting Down with the Program
  .row
    .large-4.small-12.columns
      %h2
        %i.fa.fa-search.center-text
      %h2 Look For It
      %p
        Search for the events and places that matter to <b>you</b>.
        Vettio makes it way too easy to find what you're looking for in such a beautiful way,
        but that's for you to find it!
    .large-4.small-12.columns
      %h2
        %i.fa.fa-ticket.center-text
      %h2 Pay For It
      %p
        When you find the things you'd like to attend, just pay online (if needed) and
        stock up on those tickets! We make it easy to pay and bundle up admission information for events.
    .large-4.small-12.columns
      %h2
        %i.fa.fa-group.center-text
      %h2 Talk About It
      %p
        It's not fair (or nice) to keep the good things to yourself! Share events
        with your social network via Facebook or Twitter and share the good news!
%section#slider{role: :page}
%footer
  .row
    .large-4.small-12.columns
    .large-4.small-12.columns
    .large-4.small-12.columns
