- page_title 'Enter Password for Event'
- disable_navigation
- disable_footer
.row
  .large-10.columns.large-centered.center-text
    %p.alert-box.info.radius{data: {alert: :autohide}}
      %span.label.warning
        %i.fa.fa-fw.fa-key
        %b PASSWORD REQUIRED
      %a.close{href: '#'} &times;
      This event's organizer requires that you enter a password before viewing this event.
.row
  .large-7.columns.large-centered.center-text
    = form_for @event, method: :post, class: :custom do | f |
      .row.collapse
        .small-3.columns
          = f.label :access_key, class: :inline do
            Password
        .small-6.columns
          = f.text_field :access_key, placeholder: 'Enter access key to view event'
        .small-3.columns
          = f.submit 'Enter Event', class: 'inline button expand primary'
