- page_title @event.name
%header.sticky#event_header{role: :content, data: { expanded: :expanded }}
  .packer
    #event_date
      %time{datetime: @event.date_start.to_i}= @event.date_start.strftime("%^b %-d")
    #event_title= @event.name
    #event_action
      - if can? :edit, @event
        = link_to edit_event_path(@event), class: 'button' do
          %i.fa.fa-fw.fa-pencil-square
          Edit Event
          Delete Event
%section#event_content
  .banner{data: {event: true}}
    .block.social
      %ul.button-group
        %li
          %a.button.facebook{href: '#'}
            %i.icon.fa-fw
            %span.hide-for-small Share
        %li
          %a.button.twitter{href: '#'}
            %i.icon.fa-fw
            %span.hide-for-small Share
        %li
          %a.button.linkedin{href: '#'}
            %i.icon.fa-fw
            %span.hide-for-small Share
    .block
      %i.fa.fa-fw.fa-group
      %b 3.5K
      ATTENDEES
    .block
      %i.fa.fa-fw.fa-signal
      TRENDING
    .block
      %i.fa.fa-fw.fa-bar-chart-o
      %b 70K
      VIEWS
%section#event_rsvp
