- page_title @event.name
%header#event_banner
  #event_banner_topheavy
    %ul
      %li.text
        %time#event_banner_date.date_box
          %span.day= @event.date_start.strftime '%-d'
          %span.month= @event.date_start.strftime '%^B'
      %li.text.tip-bottom{data: {tooltip: true}, title: '39,212 views'}
        %i.fa.fa-fw.fa-lg.fa-eye
        %b 39.2k
      %li.text.tip-bottom{data: {tooltip: true}, title: 'Trending NOW'}
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b NOW
      %li.text.tip-bottom{data: {tooltip: true}, title: '10,211 attendees'}
        %i.fa.fa-fw.fa-lg.fa-group
        %b 10.2k
      %li.social
        %ul.button-group
          %li
            %a.facebook.button.tiny
              %i.icon.fa-lg
          %li
            %a.twitter.button.tiny
              %i.icon.fa-lg
          %li
            %a.linkedin.button.tiny
              %i.icon.fa-lg
          %li
            %a.gplus.button.tiny
              %i.icon.fa-lg
  #event_banner_content
    %div{style: 'display: table'}
    %h2= @event.name.present? ? @event.name : 'Untitled Event'

%section#event_navigation{data: {magellan: {expedition: :fixed}}}
  %dl
    %dd{data: {magellan: {arrival: 'tickets'}}}
      %a{href: '#tickets'}
        %span.fa-stack
          %i.fa.fa-stack-2x.fa-square.fa-inverse
          %i.fa.fa-stack-1x.fa-ticket
        Tickets
    %dd{data: {magellan: {arrival: 'description'}}}
      %a{href: '#description'}
        %span.fa-stack
          %i.fa.fa-stack-2x.fa-square.fa-inverse
          %i.fa.fa-stack-1x.fa-comments
        Description
    %dd{data: {magellan: {arrival: 'attendees'}}}
      %a{href: '#attendees'}
        %span.fa-stack
          %i.fa.fa-stack-2x.fa-square.fa-inverse
          %i.fa.fa-stack-1x.fa-group
        Attendees
    %dd{data: {magellan: {arrival: 'schedule'}}}
      %a{href: '#schedule'}
        %span.fa-stack
          %i.fa.fa-stack-2x.fa-square.fa-inverse
          %i.fa.fa-fw.fa-stack-1x.fa-calendar-o
        Schedule

%section#tickets.event_panel{data: {magellan: {destination: :tickets}}}
  In the works.
%section#description.event_panel{data: {magellan: {destination: :description}}}
  %h1.title Description
  = @event.description
%section#attendees.event_panel{data: {magellan: {destination: :attendees}}}
  In the works.
%section#schedule.event_panel{data: {magellan: {destination: :schedule}}}
  In the works.
