- page_title @event.name
%header#event_banner
  #event_banner_topheavy
    %ul
      %li.text
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b 39.2k
        VIEWS
      %li.text
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b 39.2k
        VIEWS
      %li.text
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b 39.2k
        VIEWS
      %li.text
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b 39.2k
        VIEWS
      %li.social
        %span SHARE
        %ul.button-group
          %li
            %a.facebook.button.tiny
              %i.icon.fa-lg
          %li
            %a.twitter.button.tiny
              %i.icon.fa-lg
          %li
            %a.linkedin.button.tiny
              %i.icon.fa-lg
          %li
            %a.gplus.button.tiny
              %i.icon.fa-lg
    %time#event_banner_date.date_box
      %span.day= 26
      %span.month Dec

  #event_banner_content
