- page_title @event.name
%header#event_banner
  #event_banner_topheavy
    %ul
      %li.text
        %time#event_banner_date.date_box
          %span.day= 26
          %span.month Dec
      %li.text.tip-bottom{data: {tooltip: true}, title: '39,212 views'}
        %i.fa.fa-fw.fa-lg.fa-eye
        %b 39.2k
      %li.text.tip-bottom{data: {tooltip: true}, title: 'Trending NOW'}
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o
        %b NOW
      %li.text.tip-bottom{data: {tooltip: true}, title: '10,211 attendees'}
        %i.fa.fa-fw.fa-lg.fa-group
        %b 10.2k
      %li.social
        %ul.button-group
          %li
            %a.facebook.button.tiny
              %i.icon.fa-lg
          %li
            %a.twitter.button.tiny
              %i.icon.fa-lg
          %li
            %a.linkedin.button.tiny
              %i.icon.fa-lg
          %li
            %a.gplus.button.tiny
              %i.icon.fa-lg

  #event_banner_content
    %h2= @event.name
    #event_banner_actions
      %ul.button-group.round
        %li
          %a.button{href: '#'}
            %i.fa.fa-fw.fa-lg.fa-map-marker
        %li
          %a.button{href: '#'}
            %i.fa.fa-fw.fa-lg.fa-shopping-cart
        %li
          %a.button{href: '#'}
            %i.fa.fa-fw.fa-lg.fa-group
