- page_title 'Event Dashboard'
%header.panel.small-10.small-centered.columns.center-text
  %h2 Event Dashboard
  %p Check out what's happening in your neighborhood.
Dip if you ain't repping that crip shun.
