%script{type: 'text/template'}
  %li.ticket
    .status-region
      %i.fa.fa-asterisk
    .content-region
      .titlebar
        %h2
          :plain
            <%= name %>
          %span.price
            :plain
            <%= price %>
          %span.time
      .metadata
        %div
          :plain
            <%= description %>
    .actions-region
