@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';

.flash_gordon {
  @include box-shadow(1px 1px 30px #999);
  @include transition(top 0.4s);
  margin: 0em 0.1em;
  position: relative;
  top: 0.25em;

  .alert-box {
    > .icon { 
      @extend .fa;
      @extend .fa-fw;
    }

    &.alert   { @extend .fa-warning; }
    &.success { @extend .fa-check-square; }
    &.info    { @extend .fa-info-circle; }
  }
}
