body, a, p, nav.top-bar, ul, ol,
blockquote, address, a.button,
input[type=submit], input[type=reset],
.top-bar-section ul li > a, button
{
  font-family: $basic-body-font-family;
}

h1, h2, h3,
h4, h5, h6 
{
  font-family: $basic-header-font-family;
}

html.wf-active {
  body, a, p, nav.top-bar, ul, ol,
  blockquote, address, a.button,
  input[type=submit], input[type=reset],
  button
  {
    font-family: $body-font-family;
  }

  .top-bar-section ul li > a
  {
    font-family: $body-font-family;
  }

  h1, h2, h3,
  h4, h5, h6
  {
    font-family: $header-font-family;
  }
}
