@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';

nav.top-bar {
  margin: 0em;

  li#omnisearch { 
    @media #{$medium-up} {
      & {
        width: 370px;
      }
    }

    @media #{$large-up} {
      & {
        width: 710px;
      }
    }
  }
}
