@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';

nav.top-bar {
  @include transition(all 0.4s);
  @include box-shadow(0px 2px 2px $black);
  margin: 0em;
  padding: 0em;

  li > a {
    @include transition(all 0.4s);
  }

  li.name {
    img {
      height: $topbar-height * 0.75;
      margin-bottom: $topbar-height * 0.05;
    }
  }
}
