nav.top-bar {
  ul.right {
    li { padding-bottom: 0em; }
    li > a.sign_in,
    li > a.sign_out,
    li > a.sign_up {
      @include button($bg: $topbar-bg-color);
      @include single-transition;
      border-width: 0em; margin: 0em;
      font-weight: normal;
    }
    li > a.sign_in { @include button-style($bg: #f76d3c); }
    li > a.sign_up { @include button-style($bg: #61cb9a); }
    li > a.sign_out { @include button-style($bg: #c85048); }
  }
  ul > li > a { font-weight: normal; }
}
