$twitter-color    : #4099FF;
$facebook-color   : #3B5998;
$linkedin-color   : #1a85bc;
$googleplus-color : #dd4b39;

a.button {
  > i.icon { @extend .fa; }
  &.facebook    { 
    @include button($bg: $facebook-color);
    > i.icon { @extend .fa-facebook-square; }
  }
  &.twitter { 
    @include button($bg: $twitter-color);
    > i.icon { @extend .fa-twitter-square; }
  }
  &.linkedin    {
    @include button($bg: $linkedin-color);
    > i.icon { @extend .fa-linkedin-square; }
  }
  &.gplus       {
    @include button($bg: $googleplus-color);
    > i.icon { @extend .fa-google-plus-square; }
  }
}

