@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'compass/css3/transition';
@import 'compass/css3/border-radius';
@import 'compass/css3/transform';
@import 'compass/css3/opacity';

$ticket-stub-height: rem-calc(128px);

ul.ticket-list {
  margin: 0rem;
  padding: 0rem;

  > li.ticket {
    @include grid-row;
    display: block;
    list-style: none;
    height: $ticket-stub-height;
    clear: both;
    margin: rem-calc(8px) auto;
    overflow: hidden;

    > .status-region {
      width: rem-calc(32px);
      height: $ticket-stub-height;
      line-height: $ticket-stub-height;
      display: inline-block;
      position: relative;
      right: rem-calc(24px);

      > i.fa {
        height: $ticket-stub-height * 0.8;
        line-height: $ticket-stub-height * 0.8;
        margin: $ticket-stub-height * 0.1 0rem;
        background-color: $blue;
        color: $white;
      }
    }

    > .content-region {
      @include grid-column($columns: 10, $collapse: true);
      height: $ticket-stub-height;

      > .titlebar {
        background-color: $black;
        color: $white;
        height: $ticket-stub-height * 0.3;

        > h2 {
          color: $white;
          line-height: $ticket-stub-height * 0.3;
          font-weight: 900;
          font-size: 1rem;

          > time {
            float: right;
            padding-right: 0.25rem;
          }
        }
      }
    }

    > .actions-region {
      @include grid-column($columns: 2, $collapse: true);
      line-height: $ticket-stub-height;
      height: $ticket-stub-height;
    }
  }
}

