@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'compass/css3/transition';
@import 'compass/css3/border-radius';
@import 'compass/css3/transform';
@import 'compass/css3/opacity';

$ticket-stub-height: rem-calc(144px);
$money-green: darken($green, 25%);

ul.ticket-list {
  margin: 0rem;
  padding: 0rem;

  > li.ticket {
    @include grid-row;
    @include box-shadow(0px 0px 10px $gray);
    list-style: none;
    display: inline-block;
    height: $ticket-stub-height;
    clear: both;
    /*margin: rem-calc(8px) auto;*/
    overflow: hidden;

    > .status-region {
      width: 2.5%;
      display: inline-block;
      float: left;
      height: $ticket-stub-height;
      line-height: $ticket-stub-height;
      text-align: center;

      > i.fa {
        @extend .fa-asterisk;
        height: $ticket-stub-height;
        line-height: $ticket-stub-height;
        padding: 0rem; margin: 0rem;
        position: relative;
        width: 100%;
        top: -1px;
        display: inline-block;
        background-color: $blue;
        color: $white;
      }
    }

    > .content-region {
      width: 82.5%;
      display: inline-block;
      float: left;
      height: $ticket-stub-height;

      > .titlebar {
        background-color: $black;
        color: $white;
        height: $ticket-stub-height * 0.3;

        > h2 {
          color: $white;
          line-height: $ticket-stub-height * 0.3;
          height: $ticket-stub-height * 0.3;
          padding: 0rem 0.7rem; margin: 0rem;
          padding-left: 0rem;
          font-weight: 900;
          font-size: 1rem;

          > span.price {
            padding: 0rem 0.5rem;
            margin: 0rem 0.5rem 0rem 0.0rem;
            background-color: $money-green;
            color: $white;
            font-size: 1.5rem;
            float: left;
          }

          > span.time {
            &::before {
              @extend .fa;
              @extend .fa-fw;
              @extend .fa-clock-o;
            }

            float: right;
            padding: 0rem 0.5rem;
            margin-right: -0.7rem;
            background-color: $gray;
            color: $white;
          }
        }
      }
      > .metadata {
        background-color: $white;
        height: $ticket-stub-height * 0.7;
        line-height: inherit;
        display: table;
        font-size: inherit;
        text-align: left;
        width: 100%;

        > div {
          display: table-cell;
          vertical-align: middle;
          padding: 0rem 1rem;
        }
      }
    }

    > .actions-region {
      width: 15%;
      float: right;
      height: $ticket-stub-height;
      background-color: $black;
      text-align: center;
      font-size: 1.3rem;

      > label {
        vertical-align: middle;
        height: $ticket-stub-height;

        > input[data-ticket=quantity] {
          width: 90%;
          text-align: center;
          height: rem-calc(74px);
          padding: 0rem;
          border: none;
          outline: none;
          background-color: $black;
          background-color: transparent;
          color: $white;
          padding-left: rem-calc(8px);
          margin: (($ticket-stub-height - rem-calc(74px)) / 2) auto;
          font-size: rem-calc(48px);
          font-weight: lighter;

          &:focus, &:hover { @include box-shadow(none); }
        }
      }
    }

    &.future, &.past {
      @include opacity(0.4);
      > .status-region > i.fa,
      > .content-region > .titlebar,
      > .content-region > .titlebar span.time,
      > .content-region > .titlebar span.price,
      > .actions-region {
        background-color: lighten($gray, 10%);
      }

      > .status-region > i.fa {
        @extend .fa-clock-o;
      }
    }

    &.current {
      > .status-region > i.fa,
      > .content-region > .titlebar,
      > .content-region > .titlebar span.time,
      > .actions-region {
        background-color: darken($blue, 15%);
      }
      > .status-region > i.fa {
        @extend .fa-check-square;
      }
    }

    &[data-ticket-purchased]{
      > .status-region > i.fa,
      > .content-region > .titlebar,
      > .actions-region {
        background-color: $money-green;
      }
      > .content-region span.time { display: none; }
      > .status-region > i.fa {
        @extend .fa-dollar;
      }
    }
  }
}
