$timebox-day-bg: #fff;
$timebox-day-fg: #333;
$timebox-month-bg: #cc333f;
$timebox-month-fg: #fff;
$timebox-width: rem-calc(96px);

time.date_box {
  width: $timebox-width;
  max-width: $timebox-width;
  text-align: center;

  span.day, span.month { 
    display: block;
    width: $timebox-width;
    border: 1px solid lighten($timebox-day-fg, 50%);
  }

  span.day {
    font-size: 350%;
    background-color: $timebox-day-bg;
    color: $timebox-day-fg;
    border-bottom: none;
  }

  span.month { 
    background-color: $timebox-month-bg;
    color: $timebox-month-fg;
    padding: ($timebox-width / 10) 0rem;
    border-bottom-right-radius: $timebox-width / 10;
    border-top: none;
  }
}
