@import 'jquery/datetime/picker';
@import 'jquery/datetime/picker.date';
@import 'jquery/datetime/picker.time';
@import 'leaflet/l.control.locate';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'compass/css3/text-shadow';
@import 'leaflet/main';
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/split-buttons';

$event-banner-bg:      #222;
$event-banner-fg:      #fff;
$event-banner-height:  rem-calc(60px);

body.events {
  section.main { 
    @include grid-row;
    padding: rem-calc(32px) 0rem;
  }

  &.show {
    header#event_banner {
      @include grid-row;

      > #event_banner_topheavy {
        @include grid-column($columns: 12, $collapse: true, $float: false);
        background: $event-banner-bg;
        color: $event-banner-fg;
        height: $event-banner-height;

        #event_banner_date {
          width: rem-calc(80px);
          > .day {
            border-top: rem-calc(1px) solid $event-banner-bg;
          }
          > .month {
            line-height: rem-calc(16px);
            height: rem-calc(32px);
          }
        }

        > ul {
          list-style: none;
          display: inline-block;
          height: $event-banner-height;
          margin: 0em; padding: 0em;
          width: 100%;

          > li {
            display: inline-block;
            float: left;

            &.text {
              line-height: $event-banner-height;
              height: $event-banner-height;
              text-align: center;
              padding: 0em rem-calc(10px);
            }

            &.social {
              float: right;
              padding-right: rem-calc(6px);

              ul.button-group {
                float: right;
                display: inline-block;

                > li {
                  line-height: $event-banner-height;
                }
              }

              a.button {
                padding: 0em rem-calc(12px);
                line-height: $event-banner-height * 2/3;
                height: $event-banner-height * 2/3;
                margin: 0em;
                border-color: transparent;
              }
            }
          }
        }
      }

      > #event_banner_content {
        @include grid-column($columns: 12, $collapse: false, $float: false);
        display: table;
        background: url(http://placekitten.com/g/2000/1400) $event-banner-bg center center;
        width: 100%;
        height: $event-banner-height * 5;

         > h2 {
           display: table-cell;
           width: 100%;
           vertical-align: middle;
           text-align: center;
           height: $event-banner-height * 4;
         }

         > #event_banner_actions {
           height: $event-banner-height;
           display: table-cell;
           width: 100%;
           vertical-align: middle;
           text-align: center;
         }
      }
    }
  }

  &.new, &.create, &.edit, &.update {
    [data-magellan-expedition=fixed] {
      text-align: center;
      &.fixed { left: 0px; }
    }

    #panel_classification {
      .columns label { text-align: center; }
      .columns:last-child {
        float: left;
      }
    }

    #event_map {
      @include box-shadow(0px 0px 10px #8f939a);
      background-color: #8f939a;
      width: 100%;
      height: 100%;
      min-width: rem-calc(300px);
      min-height: rem-calc(170px);
    }
  }
}

$timebox-day-bg: #fff;
$timebox-day-fg: #333;
$timebox-month-bg: #cc333f;
$timebox-month-fg: #fff;
$timebox-width: rem-calc(96px);

time.date_box {
  width: $timebox-width;
  max-width: $timebox-width;
  text-align: center;

  span.day, span.month { 
    display: block;
    width: $timebox-width;
    border: 1px solid lighten($timebox-day-fg, 50%);
  }

  span.day {
    font-size: 350%;
    background-color: $timebox-day-bg;
    color: $timebox-day-fg;
    border-bottom: none;
  }

  span.month { 
    background-color: $timebox-month-bg;
    color: $timebox-month-fg;
    padding: ($timebox-width / 10) 0rem;
    border-bottom-right-radius: $timebox-width / 10;
    border-top: none;
  }
}
