@import 'jquery/datetime/picker';
@import 'jquery/datetime/picker.date';
@import 'jquery/datetime/picker.time';
@import 'leaflet/l.control.locate';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'compass/css3/text-shadow';
@import 'compass/css3/images';
@import 'leaflet/main';
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/split-buttons';

$event-banner-bg:      $gray;
$event-banner-fg:      $white;
$event-banner-height:  rem-calc(70px);

@import 'controllers/events/show';

body.events {
  section.main { 
    @include grid-row;
    padding: rem-calc(32px) 0rem;
  }

  &.new, &.create, &.edit, &.update {
    [data-magellan-expedition=fixed] {
      text-align: center;
      &.fixed { left: 0px; }
    }

    #panel_classification {
      .columns label { text-align: center; }
      .columns:last-child {
        float: left;
      }
    }

    #event_map {
      @include box-shadow(0px 0px 10px #8f939a);
      background-color: #8f939a;
      width: 100%;
      height: 100%;
      min-width: rem-calc(300px);
      min-height: rem-calc(200px);
      margin-bottom: rem-calc(8px);
    }
  }
}
