@import 'jquery/datetime/picker';
@import 'jquery/datetime/picker.date';
@import 'jquery/datetime/picker.time';
@import 'leaflet/l.control.locate';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'compass/css3/text-shadow';
@import 'leaflet/main';
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/split-buttons';

$event-header-bg:      $primary-color;
$event-header-time-bg: #222;
$event-header-time-fg: #ddd;
$event-header-height:  rem-calc(60px);
$event-header-speed:   0.75s;

body.events {
  section.main { 
    @include grid-row;
    padding-top: rem-calc(32px);
  }

  &.show {
    header#event_header {
      @include grid-row;
      position: sticky;
      height: $event-header-height * 6;
      background-color: $event-header-bg;
      background-image: url(http://placekitten.com/g/1600/1000);
      background-position: center center;

      > #event_date, #event_title, #event_actions {
        background: $event-header-bg;
        height: $event-header-height;
        line-height: $event-header-height;
      }

      > #event_date {
        @include grid-column($columns: 2, $collapse: true);
        border-top: $event-header-height solid $event-header-time-bg;
        border-right: $event-header-height solid transparent;
        border-left: none;
        border-bottom: none;
        color: $event-header-time-fg;
        text-align: center;

        @media #{large-up} {  & {
            min-width: rem-calc(210px);
        } }

        > time:first-child {
          display: inline-block;
          position: relative;
          top: $event-header-height * -1;
          line-height: $event-header-height;
          font-weight: 900;
          overflow: hidden;
          width: 100%;
        }
      }

      > #event_title {
        @include grid-column($columns: 7, $collapse: true);
        color: #fff;
        font-size: 175%;
        text-align: left;
        font-family: 'Poiret One';
        font-weight: 600;
      }

      > #event_actions {
        @include grid-column($columns: 3, $collapse: false, $last-column: false);

        > a#event_rsvp_button {
          @include inset-shadow();
          @include single-transition();
          @include block-glowing-effect();
          @include button($padding: rem-calc(5px), $bg: lighten($success-color, 10%), $full-width: false, $radius: true);
          @include split-button();
          margin-top: $event-header-height * 0.1;
          height: $event-header-height * 0.8;
          line-height: $event-header-height * 0.8;
          padding-top: 0rem;
          float: right;
        }
      }
    }

    section#event_content {
      @include grid-row;
      background: $event-header-time-bg;
      color: $event-header-time-fg;

      > .banner[data-event] {
        @include grid-column($columns: 12, $center: true, $collapse: true);
        height: $event-header-height;
        line-height: $event-header-height;

        > .block {
          padding: 0em rem-calc(4px);
          height: $event-header-height;
          line-height: $event-header-height;
          display: inline-block;
          font-size: 90%;

          &:nth-child(2) { padding-left: rem-calc(12px); }

          &.social {
            font-size: 125%;
            padding-right: 0rem;
            @extend .pull-right;
            > ul.button-group {
              a.button { 
                padding-left: rem-calc(10px);
                padding-right: rem-calc(10px);
                height: $event-header-height;
                line-height: $event-header-height;
                padding-top: 0rem;
                padding-bottom: 0rem;
                margin-bottom: 0rem;
                margin-top: 0rem;
              }
            }
          }
        }
      }
    }

    section#event_rsvp {
      @include grid-row;
    }

    &[data-full-width] {
      section.main { padding-top: 0em; }
      header#event_header { 
        max-width: initial;
        width: 90%;
        margin: 0em 5%;
      }
    }
  }

  &.new, &.create, &.edit, &.update {

    [data-magellan-expedition=fixed] {
      text-align: center;
      &.fixed { left: 0px; }
    }

    #panel_classification {
      .columns label { text-align: center; }
      .columns:last-child {
        float: left;
      }
    }

    #event_map {
      @include box-shadow(0px 0px 10px #8f939a);
      background-color: #8f939a;
      width: 100%;
      height: 100%;
      min-width: rem-calc(300px);
      min-height: rem-calc(170px);
    }
  }
}
