@import 'foundation/components/grid';

body > .sticky {
  padding-bottom: 4px;
  background-color: #33363b;
  &.fixed {
    > nav.top-bar > ul.title-area { display: block; }
  }

  nav.top-bar {
    max-width: inherit;
    width: 100%;
    border-top: 1px solid #4b4f56;
    box-sizing: border-box;
    padding-bottom: 4px;

    ul.title-area { display: none; }

    section.top-bar-section {
      @include grid-row($behavior: collapse);
      max-width: initial;

      ul {
        &.left {
          text-align: right;
          width: 100%;
          background-color: $topbar-bg-color;

          @media #{$medium} { 
            & {
              width: 60%;
            }
          }


          li.has-form {
            width: 100%;
            form {
              @include grid-row('collapse');
              width: 100%;

              span:nth-child(1) { @include grid-column(11, $collapse: true); text-align: right; }
              span:nth-child(2) { @include grid-column(1, $collapse: true); }

              input[type=text]#search_field { width: 100%; float: right; }
              input[type=submit]#search_link { left: -2px; float: left; }
            }
          }
        }

        &.right {
          width: 100%;
          @media #{$medium} { 
            & {
              width: 30%;
              > li { float: right; }
            }
          }
        }

        @include grid-column(6, $collapse: 'true');
        @media #{$small} { & { width: 100%; } }
        background-color: transparent;
        margin: 0em;
      }
    }
  }
}
